#main-page {
    text-align: center;
    height: 100%;
    margin-top: 200px;
}

#main-page h1 {
    color: orangered;
    text-transform: uppercase;
    font-size: 150px;
    font-weight: 700;
}

#main-page h2 {
    font-size: 100px;
    margin-top: 50px;
}

@media screen and (min-width: 1200px) {
    #main-page h1 {
        font-size: 100px;
    }

    #main-page h2 {
        font-size: 50px;
    }
}