#menuItem {
    margin: 0 50px 0 50px;
    position: relative;
}

#menuItem #year {
    display: none;
}

#menuItem #title {
    color: orangered;
    text-transform: uppercase;
    text-align: center;
    font-size: 120px;
    font-weight: 700;
    margin-top: 50px;
}

#menuItem #description {
    font-size: 50px;
    font-weight: 300;
    margin-top: 20px;
    text-align: center;
}

#menuItem #image {
    position: relative;
    margin-top: 30px;
}

#menuItem #image img {
    width: 100%;
    height: auto;
}

#menuItem #tooltip {
    position: absolute;
    right: 10px;
    top: 50px;
    display: none;
    width: 400px;
    padding: 15px;
    color: white;
    font-size: 30px;
    background-color: orangered;
    border: none;
    border-radius: 15px;
    text-align: center;
}

#menuItem button {
    color: white;
    font-size: 70px;
    background-color: orangered;
    border: none;
    border-radius: 15px;
    width:100%;
    padding: 15px;
    height: 150px;
    margin-top: 50px;
}

#menuItem button:hover {
    border: 2px solid black;
    color: black;
}

@media screen and (min-width: 1200px) {
    #menuItem #title {
        text-align: left;
        font-size: 80px;
    }
    #menuItem #description {
        width: 50%;
    }
    #menuItem #image {
        position: absolute;
        right: 0;
        top: 100px;
        width: 50%;
    }
    #menuItem #description {
        font-size: 40px;
        text-align: left;
    }
    #menuItem #button {
        text-align: center;
    }
    #menuItem button {
        margin-top: 300px;
        width: 400px;
        height: 80px;
        font-size: 30px;
    }
    #menuItem #tooltip {
        width: 300px;
        font-size: 20px;
    }
}