{% extends 'base.html.twig' %}

{% block body %}
    <h1>View menu item</h1>
    <table>
        <tr>
            <td>{{ menuItem.title }}</td>
        </tr>
    </table>
    <a  href="{{ path('admin_index') }}">Back</a>
{% endblock %}