{% extends 'base.html.twig' %}

{% block body %}
    <div id="main-page">
        <h1>Welcome to our coffee shop</h1>
        <h2>Please select an item from the menu!</h2>
        <h4><a id="admin-link" href="{{ path('admin_index') }}">Admin</a></h4>
    </div>
{% endblock %}