{% extends 'base.html.twig' %}

{% block body %}
      <div id="menuItem">
          <div>2022</div>
          <div id="title">{{ menuItem.title }}</div>
          <div>{{ menuItem.description }}</div>
          <div id="image"><img src="{{ asset('uploads/images/' ~ menuItem.imageUrl) }}" alt=""></div>
          <div>{{ menuItem.tooltip }}</div>
          <div><button>Read more...</button></div>
    </div>
{% endblock %}